<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945136206807-vcqhsvvpgimhofv2su9ea3910mpum26j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945136206807-vcqhsvvpgimhofv2su9ea3910mpum26j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>945136206807-cf65lkrin08rmailhk18fpnri3273poe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCchc2m6YHffl0nyuZT_rx6I2UFzXZjq1E</string>
	<key>GCM_SENDER_ID</key>
	<string>945136206807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kondasri.paystream</string>
	<key>PROJECT_ID</key>
	<string>paystream-57d08</string>
	<key>STORAGE_BUCKET</key>
	<string>paystream-57d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945136206807:ios:7ab5250b1993cd809f0192</string>
	<key>DATABASE_URL</key>
	<string>https://paystream-57d08.firebaseio.com</string>
</dict>
</plist>